<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Live Video</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<video id="video" controls="true" width="640"></video>
<script>
  if(Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();
    hls.loadSource('http://'+location.host+'/live/output.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
  });
 } else {
 	alert("este navegador no soporta HLS");
 }
</script>
<style type="text/css">
  body {
    margin: 0;
    padding: 0;
  }
  #video {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: black;
  }
</style>
</body>
</html>